NEXT_PUBLIC_SUPABASE_URL=https://codlpjskalcsqhfquecs.supabase.co
NEXT_PUBLIC_SUPABASE_PASSWORD=OP2ZM3A4pkLV9iJd
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNvZGxwanNrYWxjc3FoZnF1ZWNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTI2Mzg0NzQsImV4cCI6MjA2ODIxNDQ3NH0.6lhzQIfFbeuQFrl7tapA-3vcfGKnWoGdacNH_RYNb0c