@keyframes shimmer {
	0% {
		background-position: -200% 0;
	}
	100% {
		background-position: 200% 0;
	}
}

/* base */
.bg-task-base {
	/* background-color: #f6f4ff; */
	background-color: white;
}
.dark .bg-task-base {
	background-color: #1e1e28; /* базовый фон для тёмной темы */
}

/* hover (light) */
.bg-task-base:hover {
	background: linear-gradient(110deg, #f6f4ff 0%, #ffffff 50%, #f6f4ff 100%);
	background-size: 200% 100%;
	animation: shimmer 1.5s linear 1;
}

/* hover (dark) */
.dark .bg-task-base:hover {
	background: linear-gradient(
		110deg,
		#1e1e28 0%,
		#2a2a36 50%,
		#1e1e28 100%
	);
	background-size: 200% 100%;
	animation: shimmer 1.5s linear 1;
}

/*  status bar */
.bg-shimmer-done {
	background: linear-gradient(110deg, #a855f7 0%, #6366f1 50%, #a855f7 100%);
	background-size: 200% 100%;
	animation: shimmer 2s linear infinite;
}
.bg-shimmer-green {
	background: linear-gradient(110deg, #22c55e 0%, #198f44 50%, #22c55e 100%);
	background-size: 200% 100%;
	animation: shimmer 2s linear infinite;
}
.bg-shimmer-yellow {
	background: linear-gradient(110deg, #eab308 0%, #a8770e 50%, #eab308 100%);
	background-size: 200% 100%;
	animation: shimmer 2s linear infinite;
}
.bg-shimmer-red {
	background: linear-gradient(110deg, #ef4444 0%, #dc2626 50%, #ef4444 100%);
	background-size: 200% 100%;
	animation: shimmer 2s linear infinite;
}