@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-blueviolet: #725cee;
	--color-white-const: #f6f4ff;
	--color-gray: #a0a0a0;
	--color-dark: #030307;
	--color-pink: #fd8eee;
	--color-yellow: #fce247;
	--color-orange: #f4bf29;
	--color-green: #04d0ad;
}
html {
	font-size: 16px;
}
html,
body {
	@apply bg-gradient-to-br from-[#f6f4ff] to-[#f4effe] 
	dark:from-[#131313] dark:to-[#1a1a1a];
	font-family: var(--font-poppins-sans);
	min-width: 320px;
}
